/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
body {
  margin-left: 50px;
}

canvas {
  display: block;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 4em;
  color: Lavender;
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Be Vietnam', sans-serif;
  margin-left: 30px;
  font-size: 1em;
  color: Lavender;
}
